<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div id="wrap">
        <header id="header"></header>
        <div id="content"></div>
        <footer id="footer"></header>
    </div>
</body>
<!--
<body>
    <div id="wrap">
        <header id="header"><h1>Juegos</h1></header>
        <div id="content">
            <% categories.forEach(function(cat){ %>
                <% if(cat.showInMain){ %>
                    <div><a href="/<% cat.slug %>"><%= cat.name %></a></div>
                <% } %>
            <% }) %>
            <% categories.forEach(function(cat){ %>
                <div><a href="/<% cat.slug %>"><%= cat.name %></a></div>
            <% }) %>
        </div>
        <footer id="footer"></footer>
    </div>
    <% categories.forEach(function(cat){ %>
        <p><a href="/<%= cat.slug %>"><%= cat.name %></a></p>
    <% }) %>
</body>
-->
</html>